.right_box{
    float: right !important;
}
.right_box:after{
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.right_box:before{
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.item_line{
    margin-top: 6px;
    margin-bottom: 10px;
}

.item_devider{
    border-top: 2px solid #333232;
}

.total_divder{
    border-top: 2px solid #0000F0;
}

.floatRight{
    float: right;
}

.bluetick{
    color: #1e70bf;
}

.greentick{
    color: green;
}

.redtick{
    color: red;
}
.item_block{
    margin-top: 10px;
}

.item_block_top{
    margin-top: 20px;
}

.space_botom{
    margin-bottom: 20px !important;
}
.note{
    font-style: italic;
    font-size: 14px;
    color: grey;
}

.shadowbox{
    float: left;
    position: relative;
    width: 72%;
    padding: 67px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    margin-right: 160px;
}

.summary{
    padding-top: 60px;
}
